
.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;    
}

.increment-button {
    color: #ffffff;
    background: #000000;
}

button {
    color: #ffffff;
    background: #000000;
    white-space: normal;
}
  
  