<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Graficacion</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/menu/manage-users">Usuarios</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/menu/manage-levels">Niveles</a></li>          
          <li class="nav-item"><a class="nav-link" routerLink="/menu/stadistics">Estadisticas</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
