<h2>Crear niveles</h2>

<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
  
<form (ngSubmit)="onSubmit()">

  <label>Nombre</label>
  <input type="text" placeholder="Nombre" 
    [(ngModel)]="level.name" name="level.name" 
    class="txt" required>

  <label>Figura</label>
  <select [(ngModel)]="level.prefabName" name="level.prefabName">
      <option
        *ngFor="let figure of figures$ | async"
        [value]="figure">
        {{figure}}
      </option>          
  </select>

  <label>Estado de inicio</label>
  <label>Translacion</label>
  <div class="vector3">
      <input type="number" placeholder="x" 
        [(ngModel)]="level.startState.translation.x" name="startTx" 
        class="txt" required>

      <input type="number" placeholder="y" 
            [(ngModel)]="level.startState.translation.y" name="startTy" 
            class="txt" required>

      <input type="number" placeholder="z" 
            [(ngModel)]="level.startState.translation.z" name="startTz" 
            class="txt" required>
  </div>
  <label>Rotacion</label>
  <div class="vector3">
      <label>x</label>
      <input type="number" placeholder="x" 
        step="45"
        [(ngModel)]="level.startState.rotate.x" name="startRx" 
        class="txt" required>
      <label>y</label>
      <input type="number" placeholder="y" 
        step="45"          
        [(ngModel)]="level.startState.rotate.y" name="startRy" 
        class="txt" required>
        <label>z</label>
      <input type="number" placeholder="z" 
        step="45"
        [(ngModel)]="level.startState.rotate.z" name="startRz" 
        class="txt" required>
  </div>
  <label>Escala</label>
  <div class="vector3">
      <label>x</label>
      <input type="number" placeholder="x" 
        [(ngModel)]="level.startState.scale.x" name="startSx" 
        class="txt" required>

      <label>y</label>  
      <input type="number" placeholder="y" 
        [(ngModel)]="level.startState.scale.y" name="startSy" 
        class="txt" required>

      <label>z</label>
      <input type="number" placeholder="z" 
        [(ngModel)]="level.startState.scale.z" name="startSz" 
        class="txt" required>
  </div>

  <label>Solucion</label>
  <label>Translacion</label>
  <div class="vector3">
      <label>x</label>
      <input type="number" placeholder="x" 
        [(ngModel)]="level.solvedState.translation.x" name="solvedTx" 
        class="txt" required>

      <label>y</label>
      <input type="number" placeholder="y" 
            [(ngModel)]="level.solvedState.translation.y" name="solvedTy" 
            class="txt" required>

      <label>z</label>
      <input type="number" placeholder="z" 
            [(ngModel)]="level.solvedState.translation.z" name="solvedTz" 
            class="txt" required>
  </div>
  <label>Rotacion</label>
  <div class="vector3">
      <label>x</label>
      <input type="number" placeholder="x"
        step="45" 
        [(ngModel)]="level.solvedState.rotate.x" name="solvedRx" 
        class="txt" required>

      <label>y</label>
      <input type="number" placeholder="y" 
        step="45"
        [(ngModel)]="level.solvedState.rotate.y" name="solvedRy" 
        class="txt" required>

      <label>z</label>
      <input type="text" placeholder="z" 
        step="45"
        [(ngModel)]="level.solvedState.rotate.z" name="solvedRz" 
        class="txt" required>
  </div>
  <label>Escala</label>
  <div class="vector3">

      <label>x</label>
      <input type="number" placeholder="x" 
        [(ngModel)]="level.solvedState.scale.x" name="solvedSx" 
        class="txt" required>
        
      <label>y</label>
      <input type="number" placeholder="y" 
        [(ngModel)]="level.solvedState.scale.y" name="solvedSy" 
        class="txt" required>

      <label>z</label>
      <input type="number" placeholder="z" 
        [(ngModel)]="level.solvedState.scale.z" name="solvedSz" 
        class="txt" required>
  </div>

  <label>Numero de intentos posibles</label>
  <input type="number" placeholder="Numero de intentos posibles" 
        [(ngModel)]="level.maxAttemps" name="maxAttemps" class="txt" required>

  <label>Numero de transformaciones</label>
  <input type="number" placeholder="Numero de transformaciones" 
        [(ngModel)]="level.maxTransformations" name="maxTransformations" class="txt" required>

  <button type="submit" class="basic-btn">
        Crear nivel
  </button>
</form>