<h2>Crear niveles</h2>

<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
  
<form (ngSubmit)="onSubmit()">

  <label>Nombre</label>
  <input type="text" placeholder="Nombre" 
    [(ngModel)]="level.name" name="level.name" 
    class="txt" required>

  <label>Figura</label>
  <select [(ngModel)]="level.prefabName" name="level.prefabName">
      <option
        *ngFor="let figure of figures$ | async"
        [value]="figure">
        {{figure}}
      </option>          
  </select>

  <label>Pasos en escala</label>
  <select [(ngModel)]="level.stepsScale" name="level.stepsScale">
      <option
        *ngFor="let step of steps"
        [value]="step">
        {{step}}
      </option>          
  </select>
  
  <label>Pasos en translación</label>
  <select [(ngModel)]="level.stepsTranslate" name="level.stepsTranslate">
      <option
        *ngFor="let step of steps"
        [value]="step">
        {{step}}
      </option>          
  </select>

  <label>Estado de inicio</label>
  <label>Translacion</label>
  <div class="vector3">  
      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.startState.translation.x" name="startTx">
      </app-input-only-step>
  
      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.startState.translation.y" name="startTy">
      </app-input-only-step>

      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.startState.translation.z" name="startTz">
      </app-input-only-step>      
  </div>
  <label>Rotacion</label>
  <div>
    <label *ngFor="let rot of level.startState.rotations">
      Axis: {{rot.axis}} Value: {{rot.value}}
    </label>
    <div class="rotation">      
        <app-input-only-step [step]="45" [min]="-1000" [max]="1000"
          [(ngModel)]="rotationStarted.value" name="rotationStarted.value">
        </app-input-only-step>      
        <select [(ngModel)]="rotationStarted.axis" name="rotationStarted.axis">
            <option
              *ngFor="let rA of rotationAxis"
              [value]="rA">
              {{rA}}
            </option>          
        </select>          
    </div>
    <button (click)="addRotationStart()" class="basic-btn" type=button>
          Agregar
    </button>
  </div>
  <label>Escala</label>
  <div class="vector3">
      <label>x</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3" 
        [(ngModel)]="level.startState.scale.x" name="startSx">
      </app-input-only-step>
  
      <label>y</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3"
        [(ngModel)]="level.startState.scale.y" name="startSy">
      </app-input-only-step>

      <label>z</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3"
        [(ngModel)]="level.startState.scale.z" name="startSz">
      </app-input-only-step>      
  </div>

  <label>Solucion</label>
  <label>Translacion</label>
  <div class="vector3">
      <label>x</label>
      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.solvedState.translation.x" name="solvedTx">
      </app-input-only-step>
  
      <label>y</label>
      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.solvedState.translation.y" name="solvedTy">
      </app-input-only-step>

      <label>z</label>
      <app-input-only-step [step]="level.stepsTranslate" [min]="-2" [max]="2"
        [(ngModel)]="level.solvedState.translation.z" name="solvedTz">
      </app-input-only-step>     
  </div>
  <label>Rotacion</label>
  <div>
    <label *ngFor="let rot of level.solvedState.rotations">
      Axis: {{rot.axis}} Value: {{rot.value}}
    </label>
    <div class="rotation">      
        <app-input-only-step [step]="45" [min]="-1000" [max]="1000"
          [(ngModel)]="rotationSolved.value" name="rotationSolved.value">
        </app-input-only-step>      
          
        <select [(ngModel)]="rotationSolved.axis" name="rotationSolved.axis">
            <option
              *ngFor="let rA of rotationAxis"
              [value]="rA">
              {{rA}}
            </option>          
        </select>          
    </div>
    <button (click)="addRotationSolved()" class="basic-btn" type=button>
          Agregar
    </button>
  </div>    
  <label>Escala</label>
  <div class="vector3">
      <label>x</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3"
        [(ngModel)]="level.solvedState.scale.x" name="solvedSx">
      </app-input-only-step>
  
      <label>y</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3"
        [(ngModel)]="level.solvedState.scale.y" name="solvedSy">
      </app-input-only-step>

      <label>z</label>
      <app-input-only-step [step]="level.stepsScale" [min]="1" [max]="3"
        [(ngModel)]="level.solvedState.scale.z" name="solvedSz">
      </app-input-only-step>      
  </div>

  <label>Numero de intentos posibles</label>
  <app-input-only-step [step]="1" [min]="1" [max]="3"
    [(ngModel)]="level.maxAttemps" name="maxAttemps">
  </app-input-only-step>      
  
  <label>Numero de transformaciones</label>
  <app-input-only-step [step]="1" [min]="1" [max]="5"
    [(ngModel)]="level.maxTransformations" name="maxTransformations">
  </app-input-only-step>
  
  <div *ngIf="level.name.invalid && (level.name.dirty || level.name.touched)"
     class="alert alert-danger">
    <div *ngIf="level.name.errors.required">
      Name is required.
    </div>
  </div>

  

  <button type="submit" class="basic-btn">
        Crear nivel
  </button>
</form>