
<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
<div class="form-box">
  <h1>Crear nivel</h1>

  <form (ngSubmit)="onSubmit()">

    <div class="container">
      <div class="row">
        <div class="six column">
          <label>Nombre</label>
          <input type="text" placeholder="Nombre" 
            [(ngModel)]="level.name" name="level.name" 
            class="txt" required>
        
        </div>
        <div class="six column">
          <label>Figura</label>
          <select [(ngModel)]="level.prefabName" name="level.prefabName">
              <option
                *ngFor="let figure of figures$ | async"
                [value]="figure">
                {{figure}}
              </option>          
          </select>          
        </div>
      </div> 
      
      <div class="row">
        <div class="six column">
          <label>Pasos en escala</label>
          <select [(ngModel)]="level.stepsScale" name="level.stepsScale">
              <option
                *ngFor="let step of steps"
                [value]="step">
                {{step}}
              </option>          
          </select>        
        </div>
        <div class="six column">
          <label>Pasos en translación</label>
          <select [(ngModel)]="level.stepsTranslate" name="level.stepsTranslate">
              <option
                *ngFor="let step of steps"
                [value]="step">
                {{step}}
              </option>          
          </select>         
        </div>
      </div> 

      <!-- Estado de inicio -->
      <label>Estado de inicio</label>
      <div class="row">

        <div class="four column">          
          <label>Translacion</label>
          <app-vector-three 
            [(ngModel)]="level.startState.translation" name="startTranslation"
            [step]="level.stepsTranslate" [min]="-2" [max]="2">
          </app-vector-three>          
        </div>
          
        <div class="four column">
            <label>Rotacion</label>            
            <app-roations-sequence
              [(ngModel)]="level.startState.rotations" name="startRotation">
            </app-roations-sequence>
            
        </div>    

        <div class="four column">
            <label>Escala</label>
            <app-vector-three 
              [(ngModel)]="level.startState.scale" name="startScale"              
              [step]="level.stepsScale" [min]="1" [max]="3">
            </app-vector-three>          
        </div>

      </div>
      
      <!-- Solucion -->
      <label>Solucion</label>
      <div class="row">
        <div class="four column">          
          <label>Translacion</label>
          <app-vector-three 
            [(ngModel)]="level.solvedState.translation" name="solvedTranslation"
            [step]="level.stepsTranslate" [min]="-2" [max]="2">
          </app-vector-three>                 
        </div>
          
        <div class="four column">
            <label>Rotacion</label>            
            <app-roations-sequence
              [(ngModel)]="level.solvedState.rotations" name="solvedRotation">
            </app-roations-sequence>
            
        </div>    

        <div class="four column">
            <label>Escala</label>
            <app-vector-three 
              [(ngModel)]="level.solvedState.scale" name="solvedScale"              
              [step]="level.stepsScale" [min]="1" [max]="3">
            </app-vector-three>          
        </div>        
      </div>
      

      
    </div>
    
    
    
    
        
    <label>Numero de intentos posibles</label>
    <app-input-only-step [step]="1" [min]="1" [max]="3"
      [(ngModel)]="level.maxAttemps" name="maxAttemps">
    </app-input-only-step>      
    
    <label>Numero de transformaciones</label>
    <app-input-only-step [step]="1" [min]="1" [max]="5"
      [(ngModel)]="level.maxTransformations" name="maxTransformations">
    </app-input-only-step>
    
    <div *ngIf="level.name.invalid && (level.name.dirty || level.name.touched)"
      class="alert alert-danger">
      <div *ngIf="level.name.errors.required">
        Name is required.
      </div>
    </div>

    

    <button type="submit" class="basic-btn">
          Crear nivel
    </button>
  </form>
</div>