

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    font-size: 1.2rem;    
    text-align: center;

    padding: 1rem;

    color: #c0c0c0;
    background: #414141;

    cursor: pointer;

    
    transition: all 0.25s ease-out;
    width: 80%;
    margin: auto;
    
    
}

.lbl-toggle:hover {
    color: #646464;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
    
}

.lbl-button {
    border-radius: 4px;
    background-color: #c0c0c0;
    border: none;
    color: #414141;
    text-align: center;    
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    width: 80%;
    margin: auto;  

}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {    
    background: #646464;
    color: #c0c0c0;    
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    
}

.disable-level {
    color: #ff5a5a;
    font-weight: bold;
}

.enable-level {
    color: #5affa7;
    font-weight: bold;
}

.disable-level:hover { cursor: pointer; }
.enable-level:hover { cursor: pointer; }

.add-level {

    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    font-size: 1.2rem;    
    text-align: center;    

    color: #f0f0f0;
    background: #1adf76;

    cursor: pointer;

    
    transition: all 0.25s ease-out;
    width: 80%;
    margin: auto;
    
    
}
 
/* Style for all and avaibles toogle multiple text */

.segmented-control {
    display: table;
    width: 80%;
    margin: auto;
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    width: 50%;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;

    border-right: 3px solid #414141;

    font: 14px/1.5 sans-serif; 
    text-align: center;  

    cursor: pointer;
    color: #757575; 
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #d3d3d3;
    color: #646464; 
}