
  <!-- To show the only avaibles or all -->
  
  <ul class="segmented-control">
    <li class="segmented-control__item" (click)="showAll()">
        <input class="segmented-control__input" type="radio" 
          value="1" name="option" id="option-1" checked>
        <label class="segmented-control__label" for="option-1">
          Todos
        </label>
    </li>
    <li class="segmented-control__item" (click)="showEnableds()">
        <input class="segmented-control__input" type="radio" 
          value="2" name="option" id="option-2" >
        <label class="segmented-control__label" for="option-2">
          Habilitados
        </label>
    </li>
  </ul>

  <!--<div class="wrap-collabsible" *ngFor="let level of levels$ | async">-->
  <div class="wrap-collabsible" *ngFor="let level of levels">
    <input id="{{level.name}}" class="toggle" type="checkbox">
    <label for="{{level.name}}" class="lbl-toggle">{{ level.name }}</label>    
    <div class="collapsible-content">      
      <div class="content-inner">
          <div class="container">              
              <div class="row">
                <div class="six column" >
                  <h5>Inicio</h5>
                  <p>{{level.start_state | transforms}}</p>
                </div>    
                <div class="six column" >
                  <h5>Solucion</h5>
                  <p>{{level.solved_state | transforms}}</p>
                </div>      
              </div>        
          </div>     
          <div *ngIf="level.disabled; else elseBlock">                    
              <p class="enable-level" (click)="avaible(level)" align="right">Habilitar</p>
          </div>                  
          <ng-template #elseBlock>              
              <p class="disable-level" (click)="disable(level)" align="right">Deshabilitar</p>
          </ng-template>
          
        </div>
    </div>

    
        
    
  </div>
  <div class="add-level" (click)="goToCreateLevel()"> 
    <p>Crear nivel +</p>
  </div>

  
  
